.gameCanvas {
  position: absolute;
  top:50px;
  left:0px;

}

.topleft {
  position: absolute;
  top:0px;
  left:0px;

}

.text {
  position: absolute;
  top:20px;
  left:100px;

}

.nextButton {
  position: absolute;
  top:20px;
  left:700px;

}

.bottomButtons {
    position: absolute;
    top:650px;
    left:0px;
}